/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; /* This ensures the body takes the full viewport height */
    overflow: hidden; /* Optional: prevents scrolling on the whole page */
  }
  

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .spin {
    animation: spin 1s ease-in-out;
  }
  